@import "tailwindcss";

@theme {
  --font-family-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --animate-gradient: gradient 8s ease infinite;
  --animate-shimmer: shimmer 3s ease-in-out infinite;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
